@import 'base';
@import 'components';
@import 'buttons';
@import 'config';
@import 'alerts';


// Signup Page
.signup-section {
  .signup__first--col {
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup__second--col {
    // background-color: #121112;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .btn--register {
    background-color: #4285f4;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    min-width: 400px;
    font-weight: $mediunm-weight;
  }

  .btn--register:hover {
    background-color: #357ae8;
  }

  .btn--register:active {
    background-color: #1669db;
  }

  .btn--login {
    background-color: #dadada;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    min-width: 400px;
    font-weight: $mediunm-weight;
  }

  .btn--login:hover {
    background-color: #a3a3a3;
  }

  .btn--login:active {
    background-color: #808080;
  }

  .register-popup {
    @include popup;
  }

  .login-popup {
    @include popup;
  }
}
